.main-chat
  .main-chat__group-top
    .main-chat__group-top__group-info
      .main-chat__group-top__group-info__group-name
        = @group.name
      %ul.main-chat__group-top__group-info__member-list
        Member：
        %li.main-chat__group-top__group-info__member-list__member
          -@group.users.each do |user|
            = user.nickname
         
    = link_to "Edit", edit_group_path(@group), class: "edit-btn" 
      
  .main-chat__message-list
    = render @messages
  .main-chat__form
    = form_with model: [@group, @message], html: {class: "new-message"}, local: true do |f|
      .message-contents
        = f.text_field :content, class: 'message', placeholder: 'type a message'
        = f.label :image, class: 'inputimage' do
          = icon('far', 'image', class: 'icon-image')
          = f.file_field :image, class: "Hidden"
      = f.submit 'Send', class: 'submit-btn'



